
/* 领导看板面板背景色 */
@define-mixin cardTitleDark {
  background: linear-gradient(0deg,#1e3b88 2%, rgba(0,22,38,0.00));
}
/* 清楚浮动 */
@define-mixin clearfix{
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
